{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'vendor/swiper.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/gallary.css' %}">
<link rel="stylesheet" href="{% static 'css/car-page.css' %}">
<link rel="stylesheet" href="{% static 'css/work-stages.css' %}">
<link rel="stylesheet" href="{% static 'css/mini-lid.css' %}">
{% endblock %}

{% block content %}
<section class="modal-gallery">
    <div class="modal-gallery-main">
        <div class="modal-gallery-slider"></div>
    </div>

    <div class="modal-thumbnail"></div>

    <button class="modal-gallery-btn--close"></button>
    <button class="modal-gallery-btn--control modal-gallery-btn--prev"></button>
    <button class="modal-gallery-btn--control modal-gallery-btn--next">
    </button>

</section>

<section id="car_card-page" class="first-page-block custom-body-container" style="overflow: visible;">
    <div class="bread">
        <ul itemscope="" itemtype="http://schema.org/BreadcrumbList" style="padding-left: 0;" class="d-flex">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="/"><span>Главная</span></a>
                <meta itemprop="position" content="1">
                <span class="ms-2">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.76552 1.98448L8.51552 5.73448C8.55039 5.76931 8.57805 5.81066 8.59692 5.85619C8.61579 5.90171 8.6255 5.95051 8.6255 5.99979C8.6255 6.04907 8.61579 6.09787 8.59692 6.14339C8.57805 6.18892 8.55039 6.23028 8.51552 6.2651L4.76552 10.0151C4.69516 10.0855 4.59972 10.125 4.50021 10.125C4.4007 10.125 4.30526 10.0855 4.2349 10.0151C4.16453 9.94474 4.125 9.8493 4.125 9.74979C4.125 9.65028 4.16453 9.55484 4.2349 9.48448L7.72005 5.99979L4.2349 2.5151C4.20005 2.48026 4.17242 2.4389 4.15356 2.39338C4.1347 2.34786 4.125 2.29906 4.125 2.24979C4.125 2.20052 4.1347 2.15173 4.15356 2.1062C4.17242 2.06068 4.20005 2.01932 4.2349 1.98448C4.26974 1.94964 4.3111 1.922 4.35662 1.90314C4.40214 1.88429 4.45094 1.87458 4.50021 1.87458C4.54948 1.87458 4.59827 1.88429 4.64379 1.90314C4.68932 1.922 4.73068 1.94964 4.76552 1.98448Z"
                            fill="#A3A3AA" />
                    </svg>
                </span>
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="ms-2">
                <a href="/catalog/{{link}}/"><span>Каталог</span></a>
                <meta itemprop="position" content="1">
                <span class="ms-2">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.76552 1.98448L8.51552 5.73448C8.55039 5.76931 8.57805 5.81066 8.59692 5.85619C8.61579 5.90171 8.6255 5.95051 8.6255 5.99979C8.6255 6.04907 8.61579 6.09787 8.59692 6.14339C8.57805 6.18892 8.55039 6.23028 8.51552 6.2651L4.76552 10.0151C4.69516 10.0855 4.59972 10.125 4.50021 10.125C4.4007 10.125 4.30526 10.0855 4.2349 10.0151C4.16453 9.94474 4.125 9.8493 4.125 9.74979C4.125 9.65028 4.16453 9.55484 4.2349 9.48448L7.72005 5.99979L4.2349 2.5151C4.20005 2.48026 4.17242 2.4389 4.15356 2.39338C4.1347 2.34786 4.125 2.29906 4.125 2.24979C4.125 2.20052 4.1347 2.15173 4.15356 2.1062C4.17242 2.06068 4.20005 2.01932 4.2349 1.98448C4.26974 1.94964 4.3111 1.922 4.35662 1.90314C4.40214 1.88429 4.45094 1.87458 4.50021 1.87458C4.54948 1.87458 4.59827 1.88429 4.64379 1.90314C4.68932 1.922 4.73068 1.94964 4.76552 1.98448Z"
                            fill="#A3A3AA" />
                    </svg>
                </span>
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="ms-2">
                <a href="{{request.path}}"><span>Автомобили из {{country_}}</span></a>
                <meta itemprop="position" content="1">
            </li>
        </ul>
    </div>
    <div class="row g-0">
        <div class="col-md-6 col-sm-12 pe-md-2 pe-xl-4">
            <div class="card-box">
                <div class="card__main">
                    <div class="gallery">
                        <div class="main-slides">
                            {% for photo in car.photos.all %}
                            <img src="{{ photo.image.url }}" alt="{{ car.brand }} {{ car.model }}"
                                class="gallery-slide slide-{{ forloop.counter0 }} gallery__Image"
                                data-large="{{ photo.image.url }}" style="cursor: pointer;" />
                            {% endfor %}
                            <img src="{%static 'img/temp/1.jpg'%}" alt="{{ car.brand }} {{ car.model }}"
                                class="gallery-slide slide-1 gallery__Image" data-large="{%static 'img/temp/1.jpg'%}"
                                style="cursor: pointer;" />
                            <img src="{%static 'img/temp/2.jpg'%}" alt="{{ car.brand }} {{ car.model }}"
                                class="gallery-slide slide-2 gallery__Image" data-large="{%static 'img/temp/1.jpg'%}"
                                style="cursor: pointer;" />
                            <img src="{%static 'img/temp/1.jpg'%}" alt="{{ car.brand }} {{ car.model }}"
                                class="gallery-slide slide-3 gallery__Image" data-large="{%static 'img/temp/1.jpg'%}"
                                style="cursor: pointer;" />
                            <p class="slides-counter">
                                <span class="curr-slide-count"></span>
                                <span class="all-slides-count"></span>
                            </p>

                            <div class="previous-slide-button slider-controller-button">

                            </div>
                            <div class="next-slide-button slider-controller-button">

                            </div>
                        </div>
                    </div>
                    <div class="thumbnail-slides"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 ps-md-2 ps-xl-4">
            <div class="informations-right">
                <h3>{{ car.brand }} {{ car.model }}</h3>
                <div class="car__price-info">
                    {{car.finish|intcomma}} <span>₽</span>
                </div>
                <p class="car-delivery-time ">Сроки доставки ~ 2-3 недели после покупки</p>
                <div class="d-flex gap-3 margin-bottom-40">
                    <button class="btn blue-btn" data-bs-toggle="modal" data-bs-target="#modalFeedback">Оставить
                        заявку</button>
                    <button class="btn orange-btn">Подробный расчет</button>
                </div>
                <h5>О автомобиле</h5>
                <div class="card__info-content margin-bottom-40 font-16">
                    <div class="card__info-content-row">
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Кузов
                            </div>
                            <div class="card__info-content-item-rignt">
                                {%if car.kuzov%} {{car.kuzov}} {%else%}Нет данных {%endif%}
                            </div>
                        </div>
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Страна
                            </div>
                            <div class="card__info-content-item-rignt">
                                {{country}}
                            </div>
                        </div>
                    </div>
                    <div class="card__info-content-row">
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Год выпуска
                            </div>
                            <div class="card__info-content-item-rignt">
                                {{car.year}}
                            </div>
                        </div>
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Пробег
                            </div>
                            <div class="card__info-content-item-rignt">
                                {%if car.mileage%} {{car.mileage|intcomma}} км {%else%}Нет данных {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="card__info-content-row">
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Тип двигателя
                            </div>
                            <div class="card__info-content-item-rignt">
                                {%if car.engine%} {{car.engine}} {%else%}Нет данных {%endif%}
                            </div>
                        </div>
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Привод
                            </div>
                            <div class="card__info-content-item-rignt">
                                {{car.drive}}
                            </div>
                        </div>
                    </div>
                    <div class="card__info-content-row">
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                КПП
                            </div>
                            <div class="card__info-content-item-rignt">
                                {{car.transmission}}
                            </div>
                        </div>
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Руль
                            </div>
                            <div class="card__info-content-item-rignt">
                                {{car.rubber| slice:':-5'}}
                            </div>
                        </div>
                    </div>
                    <div class="card__info-content-row">
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Объем двигателя
                            </div>
                            <div class="card__info-content-item-rignt">
                                {{engine_volume}} л.
                            </div>
                        </div>
                        <div class="card__info-content-item">
                            <div class="card__info-content-item-left">
                                Цвет
                            </div>
                            <div class="card__info-content-item-rignt">
                                {%if car.color%} {{car.color}} {%else%}Нет данных {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
                {%include 'home/mini-lid.html'%}
            </div>
        </div>
    </div>
</section>
{%include 'home/work-stages.html'%}
{% endblock %}

{% block script %}
<script src="{%static 'js/correct.js' %}"></script>
<script src="{% static 'js/card-slider.js' %}"></script>
<script src="{% static 'vendor/swiper.min.js' %}"></script>
<script src="{% static 'js/work-stages.js' %}"></script>
{% endblock %}