version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/usr/src/app              
      - ./media:/usr/src/app/media
      - ./static:/usr/src/app/static  
    ports:
      - "8000:8000"
    restart: always
  
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static/:/app/static/
      - ./media/:/app/media/ 
    networks:
      - default

networks:
  default:
    name: net