.informations-right h3 {
    margin-bottom: 24px;
}
@media (max-width : 629px) {
    .informations-right {
        position: relative;
        padding-left: 16px;
        padding-right: 16px;
        bottom: 90px;
    }
}

.car__price-info {
    font-family: 'Wix';
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 6px;
}

.car-delivery-time {
    font-weight: 500;
    font-size: 16px;
    color: rgba(121, 121, 131, 1);
    margin-bottom: 20px;
}
@media (max-width : 716px) {
    .car-delivery-time {
        font-size: 14px;
    }
}

.card__info-content-row{
    display: flex;
    justify-content: space-between;
    gap: 52px;
    padding-bottom: 8px;
    padding-top: 8px;
    line-height: 100%;
}

@media (max-width : 716px) {
    .card__info-content-row{
        flex-direction: column;
        gap: 16px;
    }
}

.card__info-content-row:not(:last-child){
    border-bottom: 1px solid rgba(234, 234, 244, 1)
}
@media (max-width : 716px) {
    .card__info-content-row:not(:last-child){
        border-bottom: none;
    }
}

.card__info-content-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media (max-width : 716px) {
    .card__info-content-item{
        border-bottom: 1px solid rgba(234, 234, 244, 1);
        padding-bottom: 8px;
    }
}

