.modal-gallery-info .modal-gallery-btn {
    width: 149px;
    height: 44px;
    border-radius: 30px;
    background: #D51117;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-gallery-info {
    font-family: "Inter", sans-serif !important;
}

.modal-gallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.44);
}

.modal-gallery-main {
    height: calc(100vh - 250px);
    width: 1000px;
    margin-top: 100px;
    margin-inline: auto;
    z-index: 1001;
}

.modal-gallery-slider {
    height: 100%;
    margin: auto;
    position: relative;
}

.modal-thumbnail {
    margin-top: 80px;
    justify-content: center;
    display: flex;
    gap: 8px;
}

.modal-thumbnail::-webkit-scrollbar {
    display: none;
}

.modal-gallery-btn--control {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    outline: none;
    background-color: rgba(247, 247, 250, 0.32);
    position: fixed;
}

.modal-gallery-btn--control:hover {
    background-color: rgb(255, 255, 255);
}

.modal-gallery-btn--next {
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.modal-gallery-btn--prev {
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.modal-gallery-btn--next::before {
    content: " ";
    background-image: url('/static/img/arrow-right.svg');
    ;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 54%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.modal-gallery-btn--prev::before {
    content: " ";
    background-image: url('/static/img/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 46%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.modal-gallery-btn--close {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: none;
    background-color: rgba(247, 247, 250, 0.32);
    position: fixed;
    top: 50px;
    right: 20px;
}

.modal-gallery-btn--close:hover{
    background-color: rgb(255, 255, 255);
    transition: .5s;
}


.modal-gallery-btn--close::before {
    content: " ";
    background-image: url('/static/img/cross.svg');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.modal-thumbnail>.modal-thumbnail-slide {
    width: 100px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.modal-gallery-btn {
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #00335B;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 12px;
    font-weight: 500;
}

.modal-gallery-link {
    padding: 10px;
}

.modal-gallery-link img {
    width: 45px;
    height: 45px;
}

.modal-gallery-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.modal-gallery-count {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}

.modal-gallery-text {
    font-size: 14px;
    color: #FFFFFF80;
    font-weight: 400;
}

.modal-gallery-slide {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: none;
    max-width: 1040px;
    object-fit: cover;
    max-height: 690px;
}

.modal-gallery-info {
    background: #081E36;
    width: 100%;
    margin-top: 16px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-gallery-info--section:last-of-type {
    display: flex;
    align-items: center;
    gap: 12px;
}

.slider-controller-button {
    display: none;
}

.recomindation__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.recomindation {
    margin-top: 100px;
}

.recomindation__swiper {
    margin-top: 16px;
}

.swiper-buttons {
    position: absolute;
    right: 0;
    display: flex;
    gap: 32px;
    top: -52px;
    height: 36px;

}

.recomindation__swiper-buttons {
    position: static;
}

.recomindation-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.recomindation__slide {
    padding: 8px;
    background-color: #F4F0F4;
    border-radius: 24px;
    width: 100%;
    position: relative;
}

.recomindation__slide-content {
    padding: 0 8px 11px 8px;

}

.recomindation__slide-img {
    width: 100%;
    border-radius: 24px;
    /* height: 180px; */
    object-fit: cover;
    height: 190px;
}

.recomindation__slide-title {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-top: 16px;
}

.recomindation__slide-suptext {
    margin-top: 8px;
    color: #23232380;
    font-weight: 400;
    font-size: 14px;
}

.recomindation__slide-img--box {
    position: relative;
}

.recomindation__slide-count {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-top: 27px;
}

.recomindation__slide--hidden {
    display: none;
}

.recomindation__slide-btn {
    background-color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 14px;
    color: #232323;
    font-weight: 500;
    position: absolute;
    right: 8px;
    bottom: 16px;
    transition: 0.5s;
}

.recomindation__slide-btn:hover {
    background-color: #00335B;
    color: #FFFFFF;
}

a {
    text-decoration: none !important;
}


.card {
    padding: 127px 0 60px;
}

.card__title {
    margin-top: 24px;
    font-size: 32px;
    font-weight: 500;
    color: #191919;
}

.slider-controller-button {
    position: absolute;
}

.slider-controller-button--img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 28px;
}

.next-slide-button {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.previous-slide-button {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.next-slide-button>.slider-controller-button--img {
    right: 16px;
}

.previous-slide-button>.slider-controller-button--img {
    left: 16px;
}

.main-slides>.gallery-slide {
    display: none;
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
    max-width: 640px;
}

.main-slides {
    position: relative;
}

.main-slides>.gallery-slide:nth-child(1) {
    display: block;
}

.slides-counter {
    display: none;
}


.card-box {
    display: flex;
}

.thumbnail-slides {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 750px;
    min-height: 90px;
}

.thumbnail-slides::-webkit-scrollbar {
    display: none;
}

.gallery-slide-wrapper>.gallery-slide-thumbnail,
.thumbnail-slides>.gallery-slide-thumbnail {
    border-radius: 12px;
    object-fit: cover;
    width: 122px;
    height: 90px;
}


.gallery-slide-wrapper {
    position: relative;
    cursor: pointer;
}

.gallery-slide-wrapper::before {
    content: "";
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.remains {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 24px;
}

.modal-thumbnail-slide--active {
   border: 3px solid rgba(62, 62, 240, 1);
    position: relative;
}

.modal-thumbnail-slide--active::after {
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(62, 62, 240, 0.24);
   z-index: 10000;
   content: "";
}

.gallery-slide-thumbnail,
.slider-controller-button,
.gallery-slide,
.modal-thumbnail-slide {
    cursor: pointer;
}

.modal-gallery-count--mobile {
    display: none;
}

.card {
    overflow: hidden;
}

@media (max-width : 1400px) {
    .modal-thumbnail {
        bottom: 13px;
    }
}

@media (max-width : 1200px) {

    .card-box {
        display: block;
    }

    .card__info {
        margin-top: 24px;
    }


    .thumbnail-slides {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 8px;
    }

    .main-slides>.gallery-slide {
        max-height: 600px;
    }

}

@media (max-width : 992px) {
    .card__main {
        width: 100%;
    }

    .main-slides>.gallery-slide {
        max-height: 500px;
    }

    .modal-gallery-main {
        padding: 0 16px;
    }

    .modal-thumbnail {
        overflow-y: scroll;
    }

    .modal-gallery-slider {
        width: 100%;
    }

    .modal-gallery-slide {
        position: relative;
    }

    .modal-gallery-main {
        width: 100%;
    }

    .modal-thumbnail {
        width: 100%;
        padding: 0 16px;
        overflow-y: scroll;
    }

    .footer-top-left-links {
        display: none;
    }
}



@media (max-width : 629px) {
    .card__main {
        margin-bottom: 25px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 74px;
    }
}


@media (max-width : 629px) {
    .modal-gallery-info {
        display: block;

    }

    .modal-gallery-slider {
        height: 306px;
    }

    .modal-gallery-main {
        height: auto;
        bottom: -151px;
    }

    .modal-gallery-btn--control {
        top: 34%;
    }
}

@media (max-width : 576px) {

    .main-slides>.gallery-slide {
        max-height: 350px;
    }

    .thumbnail-slides {
        margin-top: 16px;
    }

    .thumbnail-slides>.gallery-slide-thumbnail,
    .gallery-slide-wrapper {
        width: 74px;
        height: 60px;
    }

    .gallery-slide-wrapper>.gallery-slide-thumbnail {
        width: 74px;
        height: 60px;
    }

    .card__title {
        font-size: 24px;
    }

    .card__info-title {
        display: none;
    }

    .card__info-count {
        margin-top: 0;
    }

    .card__info-mobile {
        display: block;
        font-size: 18px;
        font-weight: 400;
        margin-top: 18px;
    }

    .card {
        padding: 100px 0 24px;
    }

    .breadcrumb {
        overflow-y: scroll;
        flex-wrap: nowrap
    }

    .breadcrumb-item {
        white-space: nowrap;
    }

    .recomindation {
        margin-top: 48px;
    }

    .modal-gallery-slider {
        height: 320px;
    }

    .modal-gallery-main {
        height: max-content;
        top: auto;
        bottom: -145px;
        margin-top: 20px;
    }

    .modal-gallery-count {
        display: none;
    }

    .modal-gallery-info .modal-gallery-btn {
        width: 100%;
    }

    .modal-gallery-btn {
        margin-left: 0;
    }


    .modal-gallery-count--mobile {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
    }

    .modal-gallery-btn {
        width: 100%;
    }

    .modal-gallery-btn--control {
        top: 27%;
        width: 40px;
        height: 40px;
    }

    .modal-gallery-btn--prev {
        left: 10px;
    }

    .modal-gallery-btn--next {
        right: 10px;
    }

    .modal-gallery-btn--close {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
    }

}

@media (max-width : 629px) {
    .main-slides>.gallery-slide {
        max-height: 221px;
    }

    .modal-gallery-main {
        margin-top: 70px;
        bottom: -125px;
    }

    .modal-gallery-info {
        width: 95%;
        margin: 0 auto;
        margin-top: 16px;
    }

    .modal-thumbnail-slide {
        width: 74px;
        height: 60px;
    }

    .modal-gallery-btn--control {
        top: 37%;
    }
}


@media (max-width : 692px) {
    .modal-gallery-slider {
        height: 271px;
    }

    .modal-gallery-main {
        padding: 0;
        margin-top: 150px;
    }
}

.modal-thumbnail>.modal-thumbnail-slide {
    width: 100px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
}

.modal-gallery button {
    border: none;
    outline: none;
}