#work-stages {
    background-color: rgba(233, 233, 240, 1);
}

.work-stages-header-left p {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: rgba(121, 121, 131, 1);
    margin-left: 22px;
    max-width: 306px;
}

.work-stages-swapper {
    margin-top: 52px;
    margin-bottom: 100px;
    overflow: visible !important;
}

.work-stages-slide {
    background-color: rgba(247, 247, 250, 1);
    border-radius: 16px;
    padding: 8px;
    width: 648px;
    height: 252px;
    gap: 52px;
}

.work-stages-slide-left {
    padding: 20px 16px;
    background-color: rgba(234, 234, 244, 1);
    color: rgba(163, 163, 170, 1);
    font-weight: 600;
    border-radius: 8px;
}

.work-stages-slide-left span {
    font-size: 160px;
    color: rgba(37, 37, 51, 1);
    font-family: 'BebasNeue';
    font-weight: 100;

}

.work-stages-slide-right {
    padding: 20px;
    padding-left: 0;
}

.work-stages-slide-right-top {
    color: rgba(163, 163, 170, 1);
    font-weight: 600;
}

.work-stages-slide-right-bottom p {
    font-weight: 400;
    margin-bottom: 20px;
}

.delivery-block {
    padding: 40px;
    background-color: rgba(247, 247, 250, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-width: 648px;
}
@media (max-width: 629px) {
  .delivery-block {
        padding: 20px;
    }
}

.delivery-block .header-desc,
.delivery-form {
    margin-bottom: 32px;
}

.delivery-block .header-desc{
    line-height: 120%;
}

.delivery-bottom-btns {
    gap: 44px;
    margin-bottom: 24px;
}
@media (max-width: 629px) {
  .delivery-bottom-btns {
        flex-direction: column;
        margin-right: 0px;
        gap: 12px;
        align-items: flex-start !important;
        margin-top: 20px;
        margin-bottom: 16px;
    }
}
.delivery-price {
    color: rgba(37, 37, 51, 1);
    font-size: 32px;
    font-weight: 500;
}

.delivery-bottom-btns button {
    height: max-content;
    width: 100%;
}

.delivery-desc {
    background-color: rgba(234, 234, 244, 1);
    padding: 16px 20px;
    color: rgba(121, 121, 131, 1);
    border-radius: 10px;
}

.delivery-car {
    position: absolute;
    bottom: 0;
    right: -220%;
}

