:root{
    --color-dark: #252533;
    --color-light: #F7F7FA;
    --color-accent: #3E3EF0;
    --color-accent-hover: #2828E0;
    --color-grey-addition: #EAEAF4;
    --color-dark-description: #4F4F5B; 
    --color-grey-description: #A3A3AA; 
    --color-grey-addition-alt: #E9E9F0;
    --color-grey-description-alt: #797983; 
    --color-accent-alt: #E88B2E;
    --color-border: #E3E3E6;
    --color-border-light: #CDCDD2;
    --color-grey-hover: #DDDDEB;
    --color-grey-close: #A3A3AA;
    --color-type-green: #2CB742;
    --color-type-green-alt: #1AA330;
    --color-type-blue: #2AABEE;
    --color-type-blue-alt: #1696D9;

    --shadow-default: 0px 0px 60px 0px #0C0C410F;



    --border-radius: 16px;
    --border-radius-small:10px;
    --border-radius-large: 20px;
    --border-radius-medium: 14px;

    --font-family-small-text: 'Mulish', sans-serif;
    --font-family-large-text: 'WixMadeforDisplay', sans-serif;
    --font-family-large-number: 'BebasNeue', sans-serif;

    --container-width: 1320px;
    --container-padding-x: 16px;

    --section-padding-y: 100px;

    --input-height: 51px;

    --button-height: 58px;

    --transition-duration: 0.2s;
}