.about-us {


  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 52px;
    width: 1320px;

    @include desktop{
      width: 100%;
    }

    @include tablet{
      padding: 40px 16px 20px 16px;
      width: 614px;
      gap: 32px;
    }

    @include mobile{
      padding: 40px 16px 20px 16px;
      width: 375px;
      gap: 32px;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 1320px;
    height: 481px;

    @include desktop{
      width: 100%;
    }

    @include tablet{
      flex-direction: column;
      align-items: flex-start;
      width: 614px;
      height: 850px;
    }

    @include mobile{
      flex-direction: column;
      width: 343px;
      height: 728px;
    }

  }

  &__text {
    height: 239px;

    @include desktop{
      width: 500px;
      height: 246px;

    }

    @include tablet{
      width: 614px;
      height: 246px;

    }

    @include mobile{
      width: 375px;
      height: 246px;

    }

    &-title {
      width: 648px;
      height: 47px;
      font-family: var(--font-family-large-text);
      font-weight: 700;
      font-size: 40px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--color-dark);
      margin-bottom: 32px;

      @include desktop{
        width: 500px;
        height: 30px;
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
      }

      @include tablet{
        width: auto;
        height: 30px;
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
      }

      @include mobile{
        width: 343px;
        height: 30px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-description {
      width: 648px;
      font-family: var(--font-family-small-text);
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: var(--color-dark-description);
      margin-bottom: 16px;

      @include desktop{
        width: 500px;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
      }

      @include tablet{
        width: auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
      }

      @include mobile{
        width: 343px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
      }
    }
  }

  &__positive {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 52px 0;
    width: 648px;
    height: 62px;

    @include tablet{
      display: none;
    }

    @include mobile{
      display: none;
    }
  }

  &__characteristics,
  &__characteristics-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    gap: 2px;
    border-left: 1px solid #CDCDD2; 
    width: 160px;
    height: 40px;

    &-title {
      width: 184px;
      height: 40px;
      font-family: var(--font-family-large-text);
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: var(--color-dark);
    }

    &-description {
      width: 184px;
      height: 20px;
      font-family: var(--font-family-small-text);
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: var(--color-dark);
    }
  }

  &__characteristics-end {
    border-right: 1px solid var(--color-border-light); 
  }

  &__plus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 32px;
    gap: 2px;
    height: 102px;
    background: var(--color-grey-addition);
    border-radius: var(--border-radius);
    width: 262.25px;

    @include tablet{
      padding: 12px 32px;
      width: 294px;
      height: 74px;
      align-items: center;

    }

    @include mobile{
      padding: 12px 32px;
      width: 343px;
      height: 74px;
      align-items: center;

    }

    &-title {
      height: 40px;
      font-family: var(--font-family-large-text);
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      color: var(--color-dark);
    }

    &-description {
      height: 20px;
      font-family: var(--font-family-small-text);
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-dark);
    }
  }

  &__plus-mobile{
    display: none;

    @include tablet{
      display: none;

    }

    @include mobile{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--color-grey-addition);
      border-radius: var(--border-radius);
      padding: 12px 32px;
      width: 343px;
      height: 74px;

    }

  }

  &__addvantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 1320px;
    height: 102px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    @include desktop{
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    @include tablet{
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 12px  12px;
      width: 614px;
      height: 169px;
      flex-wrap: wrap;
    }

    @include mobile{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;
      width: 343px;
      height: 418px;
    }
  }

  &__logo {
    width: 223px;
    height: 101px;
    padding: 0 32px;

    @include desktop{
      display: none;
    }

    @include tablet{
      display: none;
    }

    @include mobile{
      display: none;
    }
  }

  &__contact {
    position: relative;
    width: 100px;
    height: 44px;
    top: 421px;
    left: 16px;
    z-index: 3;

    @include desktop{
      top:312px;
      left:0px;
    }

    @include tablet{
      width: 132px;
      height: 76px;
      top:370px;
      left:0px;
      padding: 16px;
    }

    @include mobile{
      width: 132px;
      height: 76px;
      top:194px;
      left:0px;
      padding: 16px;
    }
  }

  &__image-photo {
    position: absolute;
    width: 648px;
    height: 481px;
    top: 0;
    z-index: 2;

    @include desktop{
      width: 500px;
      height: auto;
      bottom: 0px;
    }

    @include tablet{
     position: absolute;
      display: flex;
      width: 614px;
      height: auto;
      bottom: 370px;

    }

    @include mobile{
     display: none;

    }
  }
  &__image-mobile{
    display: none;

    @include tablet{
      display: none;

    }

     @include mobile{
      position: absolute;
      display: flex;
      width: 343px;
      height: 272px;
      bottom: 196px;
      top: -7px;

    }

  }


  &__button {
    height: 76px;

    @include desktop{
      width: 260px;
    }
    @include mobile{
      width: 343px;
    }
  }

  &__rating {
    height: 76px;

    @include tablet{
      display: flex;
      flex-direction: row;
      margin-top: 500px;
      gap: 16px;
      width: 614px;
      height: 106px;
      margin-bottom: 0px;
      margin-left: 16px;
    }

    @include mobile{
      display: flex;
      flex-direction: column;
      margin-top: 362px;
      gap: 16px;
      width: 343px;
      height: 106px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }

  &__image {
    position: relative;
    width: 648px;
    height: 481px;

    @include desktop{
      bottom: 200px;
      width: 500px;
      height: auto;
    }

    @include tablet{
      width: 614px;
      height: auto;
      bottom: 600px;
    }

    @include mobile{
      width: 343px;
      height: 272px;
      bottom: 428px;
    }
  }

  &__icon{
    width: 44px !important;
    height: 44px !important;
  }

  &__content{
    @include mobile{
      width: 375px;
    }

    @include tablet{
      width: 614px;
    }

    @include desktop{
      width: 500px;
    }
  }


}
