.card {
  transition: transform 0.4s ease;
  width: auto;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: var(--border-radius);

  &__active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    isolation: isolate;
    width: 760px;
    height: 377px;
    background: var(--color-light);
    border-radius: var(--border-radius-large);

    &-image {
      width: 427px;
      height: 377px;
      border-radius: var(--border-radius-medium);
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 20px 20px 0;
      width: 313px;
      height: 377px;
    }

    &-title {
      font-family: var(--font-family-large-text);
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: var(--color-dark);
      padding-bottom: 16px;
      width: 293px;
      height: 46px;
    }

    &-characteristics {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      width: 293px;
      height: 132px;
      margin-bottom: 60px;
      padding-left: 0px;
    }

    &-name {
      font-family: var(--font-family-small-text);
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-grey-description);
    }

    &-meaning {
      display: flex;
      justify-content: space-between;
      width: 293px;
      height: 20px;
      font-family: var(--font-family-small-text);
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-dark);
    }

    &-price {
      font-family: var(--font-family-large-text);
      font-weight: 700;
      font-size: 28px;
      line-height: 35px;
      color: var(--color-dark);
      width: 154px;
      height: 35px;
    }

    &-contact {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      margin-top: 16px;
      width: 293px;
      height: 48px;
    }

    &-button {
      padding: 14px 40px;
      width: 197px;
      height: 48px;
      border-radius: var(--border-radius-small);
    }
  }

  &__passive {
    &-body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 20px;
      gap: 16px;
      isolation: isolate;
      width: 312px;
      height: 377px;
      background: var(--color-light);
      border-radius: var(--border-radius-large);
    }

    &-image {
      position: relative;
      width: 312px;
      height: 232px;
    }

    &-title {
      font-family: var(--font-family-small-text);
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
      color: var(--color-dark);
      padding-left: 20px;
      width: 272px;
      height: 25px;
    }

    &-description {
      display: none;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;
      gap: 16px;
      width: 292px;
      height: 40px;
    }

    &-price {
      font-family: var(--font-family-large-text);
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: var(--color-dark);
    }

    &-outline {
      display: none;
    }
  }

  &__image {
    &-metric {
      position: absolute;
      display: flex;
      flex-direction: row;
    }
  }

  &__year {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    gap: 10px;
    position: absolute;
    height: 28px;
    left: 16px;
    top: 16px;
    background: rgba(235, 235, 240, 0.12); 
    backdrop-filter: blur(16px);
    border-radius: var(--border-radius);
    font-family: var(--font-family-small-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: var(--color-light);
  }

  &__type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    position: absolute;
    width: 44px;
    height: 28px;
    left: 367px;
    top: 16px;
    background: var(--color-type-green); 
    backdrop-filter: blur(16px);
    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover .card__tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  &__tooltip {
    position: absolute;
    top: 125%;
    left: 10%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    height: 26px;
    width: 77px;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    background: var(--color-light);
    text-align: center;
    backdrop-filter: blur(16px);
    border-radius: var(--border-radius);
    font-family: var(--font-family-small-text);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-grey-description-alt);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include mobile{
    .card {

      &__yaer{
        width: 67px;
        height: 28px;
        left: 16px;
        top: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      &__type{
        right: 16px;
        top: 16px;
        left: 252px;

      }

      &__contact-social{
        display:none;
      }

      &__active {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        padding: 0 0 20px;
        gap: 16px;
        width: 312px !important;
        height: 377px;
        background: var(--color-light);
        border-radius: var(--border-radius);

        &-image {
          width: 312px;
          height: 232px;
          border-radius: var(--border-radius);
        }

        &-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 20px;
          gap: 6px;
          width: 312px;
          height: 109px;
        }

        &-characteristics{
          display: none;
        }

        &-contact {
          display: flex;
          width: 113px;
          height: 38px;
          margin: 0px;
        }

        &-title {
          width: 272px;
          height: 25px;
          font-family: var(--font-family-small-text);
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          color: var(--color-dark);
          margin: 0;
        }

        &-price {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 4px;
          margin: 0;
          width: 108px;
          height: 25px;
          font-family: var(--font-family-large-text);
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: var(--color-dark);
        }

        &-button{
          width: 113px;
          height: 38px;
          border-radius: 10px;

        }

        &-footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          width: 272px;
          height: 40px;
        }
      }

      &__passive {
        &-description {
          display: flex;
          font-family: var(--font-family-small-text);
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: var(--color-grey-description);
          padding-bottom: 14px;
        }

        &-outline {
          display: none;
        }
      }
    }
  }
    @include tablet{
    .card {

      &__yaer{
        width: 67px;
        height: 28px;
        left: 16px;
        top: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      &__type{
        right: 16px;
        top: 16px;
        left: 252px;

      }

      &__contact-social{
        display:none;
      }

      &__active {
        display: flex;
        flex-direction: column !important;
        align-items: flex-start;
        padding: 0 0 20px;
        gap: 16px;
        width: 312px !important;
        height: 377px;
        background: var(--color-light);
        border-radius: var(--border-radius);

        &-image {
          width: 312px;
          height: 232px;
          border-radius: var(--border-radius);
        }

        &-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 20px;
          gap: 6px;
          width: 312px;
          height: 109px;
        }

        &-characteristics{
          display: none;
        }

        &-contact {
          display: flex;
          width: 113px;
          height: 38px;
          margin: 0px;
        }

        &-title {
          width: 272px;
          height: 25px;
          font-family: var(--font-family-small-text);
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          color: var(--color-dark);
          margin: 0;
        }

        &-price {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 4px;
          margin: 0;
          width: 108px;
          height: 25px;
          font-family: var(--font-family-large-text);
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
          color: var(--color-dark);
        }

        &-button{
          width: 113px;
          height: 38px;
          border-radius: 10px;

        }

        &-footer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          width: 272px;
          height: 40px;
        }
      }

      &__passive {
        &-description {
          display: flex;
          font-family: var(--font-family-small-text);
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: var(--color-grey-description);
          padding-bottom: 14px;
        }

        &-outline {
          display: none;
        }
      }
    }
  }
}
