.details{
    padding-top: 100px;
    padding-bottom: 100px;

    &__inner{
        display: flex;
        align-items: flex-start;
        padding: 52px 60px;
        gap: 44px;
        isolation: isolate;
        width: 1320px;
        height: 537px;
        background: #EAEAF4;
        border-radius: 40px;
    }

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title{
        width: 700px;
        height: 76px;
        font-family: 'Wix Madefor Display';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        text-transform: uppercase;
        color: #252533;
        margin-bottom: 16px;
    }

    &__description{
        width: 607px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #252533;
        margin-bottom: 28px;
    }

    &__point{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 700px;
        height: 96px;
        margin-bottom: 44px;
    }

    &__button{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 498px;
        height: 125px;

        &-text{
            width: 451px;
            height: 25px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #252533;
        }

        &-button{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 32px;

            width: 498px;
            height: 76px;
        }
    }

    &__image{
        position: relative;

        &-photo{
            position: absolute;
        }
    }
}