.header{
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease;
    z-index: 1000;
    background-color: var(--color-light);

    @include desktop{
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @include tablet{
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @include mobile{
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        box-shadow: 0px 8px 20px 0px #0C0C411F;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
        padding: 0;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--color-border);

        @include mobile{
            padding-bottom: 16px;

        }
    }

    &__menu{
        margin-right: auto;
        font-size: 16px;

        @include tablet{
            font-size: 12px;
            margin-right: 0px;
        }

        &-list{
            display: flex;
            align-items: center;
            column-gap: 24px;

            @include tablet{
                column-gap: 12px;
            }
        }

        &-link{
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 48px;
            cursor: pointer;

            @include hover{
                color: var(--color-accent);
            }
        }
    }

    &__contact{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;

        @include tablet{
            display:none;
        }

        &-social{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            width: 64px;
            height: 28px;

        }
    }

    &__button{
        height: 40px;
    }

    &__icon{
        width: 36px;
        height: 36px;

    }
}

